# Recommendation Engine Model

### Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import pairwise_distances
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Import Data

In [2]:
Cluster_Data=pd.read_csv(r'Cluster_Data.csv')
Cluster_Data=Cluster_Data.drop(columns="Unnamed: 0")
Cluster_Data_first=Cluster_Data.copy()

In [3]:
ss=StandardScaler()
scaled_df=ss.fit_transform(Cluster_Data.drop(columns=["name","artists","cluster_label"]))

In [4]:
Cluster_Data_first['name']=Cluster_Data_first['name'].str.lower()

In [5]:
scaled_df=pd.DataFrame(scaled_df)
scaled_df["cluster_label"]=Cluster_Data["cluster_label"]
scaled_df.index=Cluster_Data_first["name"]

## Recommendation Engine

### Prev code

In [6]:
# def get_reccomendation(song_name):
    
#     if len(list(Cluster_Data_first[Cluster_Data_first['name']==song_name].index.values))==0:
#         print('Sorry!! Song not available')
        
#     else:
#         index = int(Cluster_Data_first[Cluster_Data_first['name']==song_name].index.values)
#         df = scaled_df[scaled_df['cluster_label']==scaled_df['cluster_label'][index]]
        
#         distances = pd.DataFrame(data=pairwise_distances(X=df ,Y=None,metric='euclidean')).round(2)
#         distances.index   = df.index # movie_data['userId'].unique()
#         distances.columns = df.index
        
#         rec_df = pd.DataFrame(distances[song_name])  #.sort_values(by=distances[name], ascending = True, axis=0)
#         rec = rec_df.sort_values(song_name, axis = 0, ascending = True, inplace = False, na_position ='last')
        
#         return pd.DataFrame(rec.iloc[1:12].index.values, columns=['Songs'])

### Using .lower()

In [7]:
def get_reccomendation(song_name):
    
    if len(list(Cluster_Data_first[Cluster_Data_first['name']==song_name.lower()].index.values))==0:
        print('Sorry!! Song not available')
        
    else:
        index = int(Cluster_Data_first[Cluster_Data_first['name']==song_name.lower()].index.values)
        df = scaled_df[scaled_df['cluster_label']==scaled_df['cluster_label'][index]]
        
        distances = pd.DataFrame(data=pairwise_distances(X=df ,Y=None,metric='euclidean')).round(2)
        distances.index   = df.index # movie_data['userId'].unique()
        distances.columns = df.index
        
        rec_df = pd.DataFrame(distances[song_name.lower()])  #.sort_values(by=distances[name], ascending = True, axis=0)
        
        rec = rec_df.sort_values(song_name.lower(), axis = 0, ascending = True, inplace = False, na_position ='last')
        rec = pd.DataFrame(rec.iloc[1:11].index.values, columns=['Songs'])
        rec['Songs']=rec['Songs'].str.capitalize()
#         return pd.DataFrame(rec.iloc[1:11].index.values, columns=['Songs'])
        return rec

In [8]:
get_reccomendation('i see fire')

                                    Songs
0        Excess baggage - lp hidden track
1                     Summertime daydream
2                                Floating
3                     Charlie brown theme
4                  Turn out the lamplight
5                    Cuando vayas conmigo
6  Murder song (5, 4, 3, 2, 1) - acoustic
7                          Cheers darlin'
8                          The angel song
9                      Have you forgotten

In [9]:
get_reccomendation('All about you')

                                         Songs
0                                         Fall
1                             Te fuiste de aqu
2                             Love you goodbye
3                                        South
4                                     Dead mom
5  Two is better than one (feat. taylor swift)
6                    Without you (feat. usher)
7                            I'm not the devil
8                                       Amazed
9            (everything i do) i do it for you

In [63]:
get_reccomendation('Excess baggage - lp hidden track')

                                  Songs
0                              Floating
1                Me hace falta una flor
2                 Por qu fue que te am?
3      Hymn to red october (main title)
4                  Like someone in love
5  When i see you again - 2017 remaster
6                    Have you forgotten
7                           Cheshme man
8                     Yesterday is here
9                Turn out the lamplight

## Recommendation based on Artist

In [10]:
Artist_Rec_Data=Cluster_Data_first.copy()

In [11]:
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("[", "")
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("]", "")
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("'", "")
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("\'", "")
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("\(", "")
Artist_Rec_Data["artists"]=Artist_Rec_Data["artists"].str.replace("\)", "")

In [12]:
Artist_Data=pd.read_csv(r"Artist_Data.csv")
Artist_Data=Artist_Data.drop(columns="Unnamed: 0")

## Artist name as Input

## Song Name as Input

In [79]:
def similar_Song_Artist(song_name):
    
    if len(list(Cluster_Data_first[Cluster_Data_first['name']==song_name.lower()].index.values))==0:
        print('Sorry!! Song not available')
        
    else:
        index = int(Artist_Rec_Data[Artist_Rec_Data['name']==song_name.lower()].index.values)
        Ar = Artist_Rec_Data.iloc[index,3]
        artist_name = Ar.split(",")
        
        if len(artist_name)==1:
            index = int(Artist_Data[Artist_Data['artists']==artist_name[0]].index.values)
            df = Artist_Data[Artist_Data['cluster_label']==Artist_Data['cluster_label'][index]]
        
            artist_index=df["artists"]
            distances = pd.DataFrame(data=pairwise_distances(X=df.drop(columns=["artists"]) ,Y=None,metric='euclidean')).round(2)
            distances.index   = artist_index
            distances.columns = artist_index
        
            art_df = pd.DataFrame(distances[artist_name])
            art = art_df.sort_values(artist_name, axis = 0, ascending = True, inplace = False, na_position ='last')

            Axe=pd.DataFrame(art.head(5).index)
        
        elif len(artist_name)==2:
            index = int(Artist_Data[Artist_Data['artists']==artist_name[0]].index.values)
            df = Artist_Data[Artist_Data['cluster_label']==Artist_Data['cluster_label'][index]]
        
            artist_index=df["artists"]
            distances = pd.DataFrame(data=pairwise_distances(X=df.drop(columns=["artists"]) ,Y=None,metric='euclidean')).round(2)
            distances.index   = artist_index
            distances.columns = artist_index
        
            art_df = pd.DataFrame(distances[artist_name])
            art = art_df.sort_values(artist_name, axis = 0, ascending = True, inplace = False, na_position ='last')
            
            Merged_Df=art.head(3)
            
            
            index = int(Artist_Data[Artist_Data['artists']==artist_name[1]].index.values)
            df = Artist_Data[Artist_Data['cluster_label']==Artist_Data['cluster_label'][index]]
        
            artist_index=df["artists"]
            distances = pd.DataFrame(data=pairwise_distances(X=df.drop(columns=["artists"]) ,Y=None,metric='euclidean')).round(2)
            distances.index   = artist_index
            distances.columns = artist_index
        
            art_df = pd.DataFrame(distances[artist_name])
            art = art_df.sort_values(artist_name, axis = 0, ascending = True, inplace = False, na_position ='last')
            
            Merged_Df=pd.concat(Merged_Df,art.head(2),axis=0)
            
            Axe= Merged_Df
        
        else:
            
            Axe= pd.DataFrame(artist_name)
            
        ar_names = []
        ar_song = []
        pop = []
        
        for j in Axe["artists"]:
            a = 0
            b = 0
            for i in Artist_Rec_Data["artists"]:
                if j.lower() in Artist_Rec_Data["artists"][a].lower():
                    ar_names.append(Artist_Rec_Data["artists"][a]) 
                    ar_song.append(Artist_Rec_Data["name"][a])
                    pop.append(Artist_Rec_Data["popularity"][a])
                    df = pd.DataFrame()
                    df['Songs']=ar_song
                    df['Artists']=ar_names
                    df['Popularity']=pop
                    df.sort_values('Popularity', axis=0, ascending=False, inplace=True)
                    b+=1
                a+=1
            if b == 0:
                print("Nothing found. Please try something else :)")
            Out=df.drop(columns=["Popularity"])
            df.drop_duplicates(inplace=True)
        return pd.DataFrame(Out)

In [80]:
def artist(song_name):
    if len(list(Artist_Rec_Data[Artist_Rec_Data['name']==song_name.lower()].index.values))==0:
        print('Sorry!! Song not available')
        
    else:
        index = int(Artist_Rec_Data[Artist_Rec_Data['name']==song_name.lower()].index.values)
        Ar = Artist_Rec_Data.iloc[index,3]
        Artists = Ar.split(",")
        Artists = Artists[0]
            
        return Artists    
#         return (Artists)

In [32]:
# def Final_recommendations(song_name):
#     a=get_reccomendation(song_name)
#     list_a=[]
#     for i in a["Songs"]:
#         list_a.append(artist(i))
#     a["Artists"]=list_a
#     b=similar_Song_Artist(song_name)
#     Final_Df=pd.concat([a,b], axis=0)
    
#     return pd.DataFrame(Final_Df.sample(10))

In [81]:
def Final_recommendations(song_name):
    if len(list(Artist_Rec_Data[Artist_Rec_Data['name']==song_name.lower()].index.values))==0:
        print('Sorry!! Song not available')
    else:
        a=get_reccomendation(song_name)
        list_a=[]
        for i in a["Songs"]:
            list_a.append(artist(i))
        a["Artists"]=list_a
        b=similar_Song_Artist(song_name)
        Final_Df=pd.concat([a,b], axis=0)

        return pd.DataFrame(Final_Df.sample(10))

In [66]:
list_a

['Burna Boy']

In [67]:
get_reccomendation("Shape of You")

                       Songs
0                 On the low
1                  El efecto
2             Because of you
3        Nunca es suficiente
4                    El buho
5                    Kontrol
6                 Mtele sazn
7                  Attention
8                 In my mind
9  Love you like a love song

In [82]:
artist('Because of you')

'T-Pain'

In [75]:
Artist_Rec_Data[Artist_Rec_Data['name']=='because of you']

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,instrumentalness,key,liveness,loudness,mode,name,popularity,speechiness,tempo,cluster_label
15025,0.828,2007,0.528,Ne-Yo,0.81,266840,0.538,0,0.0,0,0.0951,-5.784,0,because of you,76,0.0356,109.97,43

In [74]:
Artist_Rec_Data.drop([14477],axis=0,inplace=True)

In [83]:
a=get_reccomendation("Shape of You")
list_a=[]
for i in a["Songs"]:
    print(artist(i))
#     list_a.append(artist(i))
#     a["Artists"]=list_a

Mau y Ricky
Bebe Rexha
T-Pain
Tate McRae
FINNEAS
Tenth Avenue North
Vilma Palma e Vampiros

TypeError: only size-1 arrays can be converted to Python scalars

In [64]:
similar_Song_Artist("Shape of You")

,Songs,Artists
8,shape of you,Ed Sheeran
10,beautiful people (feat. khalid),"Ed Sheeran, Khalid"
11,i don't care (with justin bieber),"Ed Sheeran, Justin Bieber"
7,happier,Ed Sheeran
20,south of the border (feat. camila cabello & ca...,"Ed Sheeran, Camila Cabello, Cardi B"
...,...,...
64,stray italian greyhound,Vienna Teng
65,lullabye for a stormy night,Vienna Teng
59,un homme et une femme,"Nicole Croisille, Pierre Barouh"
60,plus fort que nous,"Nicole Croisille, Pierre Barouh"
61,a l'ombre de nous,Pierre Barouh

In [47]:
Artist_Rec_Data[Artist_Rec_Data['name']=='i see fire']

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,instrumentalness,key,liveness,loudness,mode,name,popularity,speechiness,tempo,cluster_label
16110,0.204,2013,0.562,Ed Sheeran,0.633,300747,0.0519,0,0.0,10,0.097,-21.107,0,i see fire,63,0.0365,76.034,28

In [48]:
Artist_Rec_Data

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,instrumentalness,key,liveness,loudness,mode,name,popularity,speechiness,tempo,cluster_label
0,0.0594,1921,0.982,"Sergei Rachmaninoff, James Levine, Berliner Ph...",0.279,831667,0.21100,0,0.878000,10,0.665,-20.096,1,"piano concerto no. 3 in d minor, op. 30: iii. ...",4,0.0366,80.954,88
1,0.9630,1921,0.732,Dennis Day,0.819,180533,0.34100,0,0.000000,7,0.160,-12.441,1,clancy lowered the boom,5,0.4150,60.936,3
2,0.0394,1921,0.961,KHP Kridhamardawa Karaton Ngayogyakarta Hadini...,0.328,500062,0.16600,0,0.913000,3,0.101,-14.850,1,gati bali,5,0.0339,110.339,42
3,0.1650,1921,0.967,Frank Parker,0.275,210000,0.30900,0,0.000028,5,0.381,-9.316,1,danny boy,3,0.0354,100.109,20
4,0.2530,1921,0.957,Phil Regan,0.418,166693,0.19300,0,0.000002,3,0.229,-10.096,1,when irish eyes are smiling,2,0.0380,101.665,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133633,0.5220,2020,0.204,Gunna,0.598,230600,0.47200,1,0.000015,0,0.108,-10.991,1,nasty girl / on camera,66,0.2580,120.080,131
133634,0.0838,2020,0.974,Najma Wallin,0.175,133500,0.00759,0,0.925000,7,0.113,-35.072,1,med slutna gon,70,0.0454,70.872,53
133635,0.7340,2020,0.206,Ashnikko,0.717,150654,0.75300,0,0.000000,7,0.101,-6.020,1,halloweenie iii: seven days,68,0.0605,137.936,120
133636,0.6370,2020,0.101,MAMAMOO,0.634,211280,0.85800,0,0.000009,4,0.258,-2.226,0,aya,76,0.0809,91.688,43
133637,0.6420,2020,0.132,"KEVVO, J Balvin",0.856,189507,0.72100,1,0.004710,7,0.182,-4.928,1,billetes azules (with j balvin),74,0.1080,94.991,14

In [43]:
Final_recommendations("i see fire")

,Songs,Artists
1,give me love,Ed Sheeran
40,be my forever (feat. ed sheeran),"Christina Perri, Ed Sheeran"
31,remember the name (feat. eminem & 50 cent),"Ed Sheeran, Eminem, 50 Cent"
47,blow (with chris stapleton & bruno mars),"Ed Sheeran, Chris Stapleton, Bruno Mars"
20,south of the border (feat. camila cabello & ca...,"Ed Sheeran, Camila Cabello, Cardi B"
41,gold rush - deluxe edition,Ed Sheeran
3,everything has changed,"Taylor Swift, Ed Sheeran"
60,plus fort que nous,"Nicole Croisille, Pierre Barouh"
63,cowboy shit,Kenny Feidler
50,alabama pines,Jason Isbell and the 400 Unit

In [76]:
Final_recommendations("shape of you")

TypeError: only size-1 arrays can be converted to Python scalars

In [78]:
Artist_Rec_Data.drop_duplicates(inplace=True)

In [51]:
artist('i see fire')

['Ed Sheeran']

In [52]:
get_reccomendation('shape of you')

                       Songs
0                 On the low
1                  El efecto
2             Because of you
3        Nunca es suficiente
4                    El buho
5                    Kontrol
6                 Mtele sazn
7                  Attention
8                 In my mind
9  Love you like a love song

In [62]:
artist('El efecto')

'Rauw Alejandro'

In [18]:
from pickle import dump

In [19]:
dump(Final_recommendations,open('Final_Recommendations.pkl','wb'))

In [20]:
from pickle import load

In [21]:
loaded_Rec = load(open('Final_Recommendations.pkl','rb'))

In [22]:
loaded_Rec("s")

Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Nothing found. Please try something else :)

,Songs,Artists
1,frente a frente (feat. tulsa),"Bunbury, Tulsa"
0,...y al final,Bunbury
0,Hace mucho tiempo,None
9,Hipocresa,None
7,don't give up,Barrington Levy
11,sensimilea,Barrington Levy
3,aunque no sea conmigo,"Bunbury, Andrés Calamaro"
15,see it no other way,"Slightly Stoopid, Barrington Levy, Mr. Mutton"
10,bonnie & shyne (feat. barrington levy),"Shyne, Barrington Levy"
2,s,Bunbury

In [23]:
loaded_Rec("I See Fire")

Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available
Sorry!! Song not available

                                    Songs Artists
5                    Cuando vayas conmigo    None
9                      Have you forgotten    None
0        Excess baggage - lp hidden track    None
4                  Turn out the lamplight    None
6  Murder song (5, 4, 3, 2, 1) - acoustic    None
2                                Floating    None
8                          The angel song    None
7                          Cheers darlin'    None
1                     Summertime daydream    None
3                     Charlie brown theme    None

# END !!!