In [2]:
x=['b','c','a']
x.extend(['x','y'])
x.reverse()
x.append('s')
x.sort()
x.reverse()

In [3]:
x

['y', 'x', 's', 'c', 'b', 'a']

In [4]:
'a'or'b'or'c'

'a'

In [5]:
2**10

1024

In [6]:
print(reduce(lambda x, y: x+y*y,[2,3,5],0))

NameError: name 'reduce' is not defined

In [7]:
def f(a,b):pass

In [8]:
f(1,2)

In [10]:
xy=1,1
def f():
    global x
    y=0
    for i in (10,20,30):
        x+=1
        y+=1
f()
print(x,y)

TypeError: 'int' object is not iterable

In [11]:
f(x,y)

NameError: name 'y' is not defined

In [12]:
numpy.float_power

NameError: name 'numpy' is not defined

In [14]:
import pandas as pd
df=pd.DataFrame({'A':[1,2,3],"B":["CS","me",'ec']})

In [15]:
df['B']=df['B'].astype(str)
df['A']=df['A'].astype(str)
df["c"]=df['A']*2

In [16]:
df

   A   B   c
0  1  CS  11
1  2  me  22
2  3  ec  33

In [17]:
fd=pd.DataFrame({'name':['Alex','BO','JO','dev','ho','bo','Alex'],'salasry':[10,20,4,1,5,10,5]})

In [18]:
fd=fd[~(fd.name=='Alex')]
print(fd.empty)

False

In [19]:
s4=pd.Series(range(1,3))+4

In [20]:
s4

0    5
1    6
dtype: int64

In [22]:
try:
    mytuple=((3.14,"python"),['Prooo',13333,'654.5'],(1,([2,3,4],5,6)))
except typeerror:
    proint('tupeer')
else:
    print('suces')

suces

In [25]:
def f(x.arr=[]):
    arr.append(x)
    return arr
print (f(1),f(2))

SyntaxError: invalid syntax (2475873149.py, line 1)

In [26]:
'some'+1

TypeError: can only concatenate str (not "int") to str